<div class="container">
  <form (submit)="guardarCategoria()" [formGroup]="form">
    <div class="col-4 form-group">
      <label for="nombreCategoria">Nombre de la categoria</label>
      <input type="text" class="form-control" formControlName = "nombreCategoria" id="nombreCategoria">
    </div>
    <div class="row mt-2 px-2">
      <button type="submit" class="col-3 btn btn-primary" [disabled]="!form.valid">Guardar</button>
      <button type="button" class="col-1 btn btn-danger" (click)="navigateTo('Categorias')">Cancelar</button>
    </div>
  </form>

</div>
